:root {
  --text-black: #292929;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}
body {
    left: 0;
    right: 0;
    overflow-x: hidden;
    background-image: url('images/bg.jpg');
    background-size: 700px; 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}
.left {
    font-family: "Afacad Flux", sans-serif;
    width: 6%;
}
.right {
    height: 100%;
    width: 6%;
}



@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}

@keyframes riseUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.left-content {
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left p {
    letter-spacing: 5px;
    transform: rotate(-90deg);
    font-size: 12px;
}
.top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    margin-top: 100px;
}
.left-content .line {
    border-bottom: 1.4px solid #1A1818;
    transform: rotate(-90deg);
}
.left-content a {
    letter-spacing: 5px;
    transform: rotate(-90deg);
    font-size: 12px;
    color: #1A1818;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}
.first-section {
    width: 100%;
    background-color: #1A1818;
    height: 850px;
    display: flex;
    align-items: end;
    justify-content: center;
    transform: translateY(-100%);
      animation: slideDown 0.6s cubic-bezier(0.55, 0.46, 0.13, 0.61) forwards;
}
.second-section {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 40px;
}


.first-section img {
    width: 900px;
    margin-bottom: 200px;
    transform: translateY(50px);
    opacity: 0;
    animation: riseUp 1s ease-out forwards;
    animation-delay: 0.6s;
}

.second-section h1 {
    font-size: 30px;
    width: 450px;
    text-align: center;
    font-weight: 500;
    color: var(--text-black);
    font-family: "Caudex", serif;
}
.second-detail {
    display: flex;
    gap: 40px;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-top: 80px;
    margin-bottom: 40px;
}
.second-detail p {
    width: 230px;
    margin-top: 15px;
    font-family: "Afacad Flux", sans-serif;
    font-size: 17px;
    text-align: left;
    line-height: 25px;
    color:#676767;
    font-weight: 400;
    letter-spacing: 1px;
}
.second-detail h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--text-black);
}
.role {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 180px;
}
.responsibilities {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
}
.responsibilities h2 {
    width:161px;
}
.type {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    width: 120px;
}
.type h2 {
    width: 141px;
} 
.url {
     display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    width: 120px;
} 
.url h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--text-black);
    text-align: left;
} 
.url a {
     width: 230px;
    margin-top: 15px;
    font-family: "Afacad Flux", sans-serif;
    font-size: 17px;
    text-align: left;
    line-height: 25px;
    color:#676767;
    font-weight: 400;
    letter-spacing: 1px;
}
.components-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.components-detail p {
    font-family: "Afacad Flux", sans-serif;
    font-size: 17px;
    text-align: center;
    color:#ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 40px;
    background-color: rgb(45, 42, 34);
    width: 100px;
    height: 25px;
    border-radius: 20px;
}
.web-button {
    width: 150px;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    border-radius: 20px;
}


.third-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 80px;
}
.third-section p {
     font-family: "Afacad Flux", sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 800px;
    letter-spacing: 1px;
}
.third-first img {
    width: 1000px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.third-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}
.third-third img {
    width: 1000px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.third-img {
    margin-bottom: 60px;
}

.third-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}
.third-last img {
    width: 1400px;
}


.footer {
    height: 110px;
    width: 100%;
    background-image: url('images/bg2.png');
    background-size: 700px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Afacad Flux", sans-serif;
    gap: 100px;
}
.icons {
    width: 33%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-right {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-mid {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-left {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-mid h2 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.237);
}
.icons img {
    width: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.check-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.check-button p {
    text-align: center;
    color: #3b3b3b;
    height: 10px;
    font-size: 20px;
    font-family: "koulen", sans-serif;
    font-weight: 400;
}
.check-button a{
    color: #fdf9ed;
    font-size: 25px;
    font-weight: 300;
    width: 250px;
    height: 50px;
    background-color: rgb(45, 42, 31);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-top: 10px;
    transition: width 0.2s ease-in-out;
    transform-origin: left;
}
.check-button a:hover {
    width: 350px;
}
.check-button a img {
    width: 120px;
}

.lecturer-image {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

.third-fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;
}

.lec-first {
    width: 900px;
    height: 450px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.lec-second {
    width: 280px;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.done{
 width: 500px;
}
.third-vkellog {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
}
.vk1 {
    width: 700px;
    height: 550px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.vk2 {
    width: 280px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.third-first-vk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third-first-vk p {
    margin-bottom: 80px;
}